@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
  --bg-gradient: linear-gradient( #5c585c, #81a6c2);
  --light-primary: #81a6c2;
  --dark-primary: #5c585c; 
}

.p_bg{
  background-color: var(--dark-primary);
}

body{
  background-color: #fff;
  font-size: 18px;
  font-family: "League Spartan", sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.s_bg{
  background-color: var(--light-primary);
}


.p-btn{
  background-color: var(--light-primary) !important;
  color:white !important;
  border:none !important;
  min-width: 150px;
}

a{
  text-decoration: none;
}

.nav-link{
  color: white !important;
}

.roadmap_container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
    flex-wrap: nowrap;
    width: fit-content;
}

.roadmap_card{
  min-width: 300px!important;
}

/* Scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-gradient);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #c5c5c5;
  border-radius: 6px;
}

.portfolio_box{
  height: 400px;
  width: 40vw;
}

.zso_portfolio{
  background: linear-gradient(90deg, rgb(0, 185, 0), rgb(0, 95, 0));
}

.iclaim_portfolio{
  background: linear-gradient(90deg, var(--light-primary), var(--dark-primary));
}

.ofh_portfolio{
  background: linear-gradient(90deg, rgb(0, 1, 51), rgb(2, 0, 117));
}

.wlc_portfolio{
  background: linear-gradient(90deg, rgb(27, 23, 0), black);
}




.portfolio{
  width: 100%;
  overflow-x:scroll;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  flex-wrap: nowrap;
}


.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 350px;
  text-align: left;
  padding: 15px;
}

.project img {
  max-height: 37vh;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 17vh;
}

.project-info h2 {
  font-size: 1.5rem;
  color: #007BFF;
  margin-bottom: 5px;
}

.pointer{
  cursor: pointer;
}

.nav-design{
  background-color: var(--dark-primary);
}

.opacity-bg{
  background-color: #5c585c8e;
}

a{
  text-decoration: none !important;
}

.p-txt{
  color: var(--dark-primary);
}